@font-face {
font-family: Rozha;
src: url(../fonts/RozhaOne-Regular.ttf);
}

@font-face {
    font-family: Questrial;
    src: url(../fonts/Questrial-Regular.ttf);
}

@font-face {
    font-family: Tri;
    src: url(../fonts/TiroDevanagariSanskrit.ttf);
}

$primary-color: #df7533;
$secondary-color: #eee6e1;

@mixin quote($color, $bgColor) {
    .favQuote{
        width: 100%;
        font-size: 16px;
        position: relative;
        display: block; 
        .quote{
            font-family: 'Times New Roman', Times, serif;
            text-align: justify;
            display: block;
            width: 100%;
            font-size: 1.2rem;
            font-weight: 100;
            margin: 0px;
            color: $color;
            font-style: italic;
            &::before{
                content: "";
                display: inline-block;
                margin: 0px 20px -5px 0px;
                width: 20px;
                height: 25px;
                font-size: 1.2rem;
                color: $color;
                background: url("../fontAwesome/quote-left.svg") no-repeat;
                filter: invert(54%) sepia(54%) saturate(690%) hue-rotate(337deg) brightness(91%) contrast(92%);
                font-style: italic;
            }
        }
        .author{
            font-family: Tri;
            position: absolute;
            right: 0px;
            color: $color;
            @if($bgColor == 'white'){
                color: black;
            }
            font-size: 13px;
            font-weight: 100;
        }
    }
}

@mixin mainHead(){
    h1{
        font-family: Tri;
        font-weight: 1000;
        font-size: 3rem;
    }
}
